/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set root variables for easy color theming */
:root {
--main-bg: #E5D7C4;
  --sidebar-bg: #4C3D19;
  --accent: #889063;
  --section-line: #8890636b;
  --header-bg: #354024;
  --light-text: #CFBB99;
  --dark-text: #4C3D19;
  --hover-bg: #161b0e;
  --hover-bg-light: #3e3f3b;
  --hover-text: #CFBB99;
}


/* Apply base styles */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* background-color: var(--background-color); */
  color: var(--dark-text);
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}
